<div class="container-fluid px-0">
	<div class="row">
		<div class="col" style="min-width: 320px">
			<!-- Component header -->
			<div class="d-flex flex-row">
				<div class="mr-auto">
					<h4>Items</h4>	
				</div>
				<div>
					<button class="btn btn-sm btn-dark text-light" routerLink="/items/add">
						<i class="fas fa-plus-circle mr-1"></i>
						New
					</button>
				</div>
			</div>
			<hr class="mt-0 mb-3">

			<!-- Items list -->
			<table class="table table-sm table-bordered table-hover">
				<tr class="bg-dark text-light" style="line-height: 25px">
					<th colspan="2">Name</th>
					<th>Group</th>
				</tr>
				<tr *ngFor="let item of items" style="line-height: 20px">
					<td class="text-center" style="max-width: 25px" (click)="click_item(item.itemId)">
						<i *ngIf="item?.group?.type==1" class="fas fa-minus text-danger"></i>
						<i *ngIf="item?.group?.type==2" class="fas fa-plus text-success"></i>
					</td>
					<td>{{item.name}}</td>
					<td>{{item?.group.name}}</td>
				</tr>
			</table>
		</div>

		<!-- Helper -->
		<div class="col" style="min-width: 320px">
			<app-helper [targetComponent]="targetComponent"></app-helper>
		</div>
	</div>
</div>