<div class="m-1">
  <div class="row border-bottom mb-3 py-1">
    <div class="col">
        <h4>{{editorHeader}}</h4>
    </div>
    <div class="col-1 text-right">
      <button class="btn btn-sm btn-dark text-light float-right" style="width: 100px" (click)="click_Cancel()">
        <i class="fas fa-sign-out-alt mr-1"></i>
        Cancel
      </button>
    </div>
	</div>
	
	<form [formGroup]="currencyForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
      <h5 class="pb-0 mb-0">Code</h5>
      <h6 class="pt-0 mt-0 text-secondary">(3-letter international code)</h6>
			<input class="form-control" name="code" placeholder="Code" (change)="change_Code()"
				formControlName="code" required [class.is-invalid]="isInvalid(code()) || isCurrencyCodeExist"
				[class.ng-invalid]="isCurrencyCodeExist" />
			<div *ngIf="isInvalid(code())" class="text-danger">
				Code name is requried
			</div>
			<div *ngIf="isCurrencyCodeExist" class="text-danger">
				Currency code must be unique. Try new code please
			</div>
		</div>

		<div class="form-group">
      <h5 class="pb-0 mb-0">Description</h5>
      <h6 class="pt-0 mt-0 text-secondary">(currency full name)</h6>
			<input class="form-control" name="decription" placeholder="Description"
				formControlName="description"/>
		</div>

		<div class="form-row">
			<div *ngIf="!editMode" class="col">
				<button type="submit" class="btn btn-dark text-ligth" [disabled]="currencyForm.invalid || isCurrencyCodeExist">
					<i class="fas fa-plus-circle mr-1"></i>
					Create
				</button>
			</div>

			<div *ngIf="editMode" class="col">
				<button type="submit" class="btn btn-dark text-ligth" [disabled]="currencyForm.invalid || isCurrencyCodeExist">
					<i class="far fa-save mr-1"></i>
					Save
				</button>
			</div>

			<div *ngIf="editMode" class="col">
				<button type="button" class="btn btn-dark text-light float-right" (click)="click_Delete()" style="width: 100px">
					<i class="far fa-trash-alt mr-1"></i>
					Delete
				</button>
			</div>
		</div>			
	</form>