<div class="m-1">
  <div class="row border-bottom mb-3 py-1">
    <div class="col">
        <h4>{{editorHeader}}</h4>
    </div>
    <div class="col-1 text-right">
      <button class="btn btn-sm btn-dark text-light float-right" style="width: 90px" (click)="click_Cancel()">
        <i class="fas fa-sign-out-alt mr-1"></i>
        Cancel
      </button>
    </div>
  </div>
  
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
      <h5 class="pb-0 mb-0">Type</h5>
      <h6 class="pt-0 mt-0 text-secondary">(which type of items is group owner)</h6>
      <select class="form-control" formControlName="typeControl" [class.is-invalid]="isInvalid(typeControl)" required
        (change)="change_typeControl()" [class.ng-invalid]="isInvalid(typeControl)">
          <option value=1>Expenses</option>
          <option value=2>Incomes</option>
      </select>
      <div *ngIf="isInvalid(typeControl)" class="text-danger">
        Please choose group owner type
      </div>
    </div>

    <div class="form-group">
      <h5 class="pb-0 mb-0">Name</h5>
      <h6 class="pt-0 mt-0 text-secondary">(item name must be unique)</h6>
      <input class="form-control" name="name" placeholder="Name..." [class.is-invalid]="isInvalid(nameControl) || isItemNameExist" required
        formControlName="nameControl" (change)="change_nameControl()" [class.ng-invalid]="isItemNameExist"/>
      <div *ngIf="isInvalid(nameControl)" class="text-danger">
        Item name is required
      </div>
      <div *ngIf="isItemNameExist" class="text-danger">
        This item name already exists
      </div>
    </div>

    <div class="form-group">
      <h5>Group</h5>
      <select class="form-control" formControlName="groupControl" [class.is-invalid]="isInvalid(groupControl)" 
        [class.ng-invalid]="isInvalid(groupControl)" required>
          <option *ngFor="let group of groups" [value]="group.groupId">{{group.name}}</option>
      </select>
      <div *ngIf="isInvalid(groupControl)" class="text-danger">
        Item group is required
      </div>
    </div>

    <!-- BUTTONS -->
    
    <div class="form-row">
      <div *ngIf="!editMode" class="col">
        <button type="submit" class="btn btn-dark text-ligth" [disabled]="itemForm.invalid || isGroupNameExist">
          <i class="fas fa-plus-circle mr-1"></i>
          Create
        </button>
      </div>

      <div *ngIf="editMode" class="col">
        <button type="submit" class="btn btn-dark text-ligth" [disabled]="itemForm.invalid || isGroupNameExist">
          <i class="far fa-save mr-1"></i>
          Save
        </button>
      </div>

      <div *ngIf="editMode" class="col">
        <button type="button" class="btn btn-dark text-light float-right" (click)="click_deleteItem()" style="width: 100px">
          <i class="far fa-trash-alt mr-1"></i>
          Delete
        </button>
      </div>
    </div>			
  </form>