<div class="nav navbar p-1" style="background: rgba(0, 0, 0, 0.85)">
	
	<div class="col-1 p-0" style="font-size: 16pt">
		<i class="far fa-hand-point-right text-light fa-lg"></i>	
	</div>
	<div class="col p-0 pl-2" style="transform: translateY(3px)">
		<h3 class="text-light float-left">Finances</h3>
	</div>

	<ul class="nav justify-content-end">
		<li class="nav-item">
			<a class="nav-link text-light" routerLink="/accounts">Acc</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" routerLink="/currencies">Curr</a>
		</li>
	</ul>
</div>

<router-outlet></router-outlet>
