<div class="card bg-light mb-2" style="max-width: 768px">
  <div class="card-header px-2 py-1">Пятница, 15.03.19</div>
  <div class="card-body p-2">
    <h5 class="card-title py-1 m-0">Пакетное обновление</h5>
    <p class="card-text text-justify p-1 m-0">
      1) <i class="fas fa-info-circle text-dark"></i><b> What's new?</b> - страница с историей обновления приложения. Информация позволяет оставаться в курсе последних изменений.
    </p>
    <p class="card-text text-justify p-1 m-0">
      2) Откорректирован логический порядок навигации в меню.
    </p>
  </div>
</div>

<div class="card bg-light mb-2" style="max-width: 768px">
  <div class="card-header px-2 py-1">Четверг, 14.03.19</div>
  <div class="card-body p-2">
    <h5 class="card-title py-1 m-0">Обновление интерфейса</h5>
    <p class="card-text text-justify p-1 m-0">
      Положено начало к адаптации пользовательского интерфейса для работы с широкоформатными экранами.
      При достаточном увеличении ширина окна браузера, навигационное меню появляется слева.
    </p>
    <p class="card-text text-justify p-1 m-0">
      Для мобильный телефонов меню вызывается как и прежде в верхнем правом углу в виде выпадающего списка.
    </p>
  </div>
</div>