<div class="m-1">
  <div class="row border-bottom mb-3 py-1">
    <div class="col">
      <h4>{{editorHeader}}</h4>
    </div>
    <div class="col-1 text-right">
      <button class="btn btn-sm btn-dark text-light float-right" style="width: 90px" (click)="click_Cancel()">
        <i class="fas fa-sign-out-alt mr-1"></i>
        Cancel
      </button>
    </div>
  </div>

  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="form-group">
        <h5>Type</h5>
        <h6 class="pt-0 mt-0 text-secondary">(transaction type)</h6>
        <select class="form-control" formControlName="typeControl" (change)="change_type()">
          <option value="1">Expense</option>
          <option value="2">Income</option>
          <option value="0">Movement</option>
        </select>
      </div>
    
    <div class="form-group">
      <h5>Date and time</h5>
      <input type="datetime-local" class="form-control" formControlName="dateControl" />
    </div>

    <div class="form-group">
      <h5>Account</h5>
      <select class="form-control" name="account" formControlName="accountControl" required (change)="change_account()">
        <option *ngFor="let account of accounts" [value]="account.accountId">{{account.accountName}}</option>
      </select>
    </div>

    <!-- 1) Need filter of items 2) Need add and edit item features here -->
    <div class="form-group">
      <h5>Item</h5>
      <select class="form-control" formControlName="itemControl" required>
        <option *ngFor="let item of items" [value]="item.itemId">{{item.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <h5>Comment</h5>
      <input type="text" class="form-control" formControlName="commentControl" />
    </div>

    <div class="form-group">
      <h5>Amount</h5>
      <div class="input-group">
        <input type="text" class="form-control" formControlName="amountControl" />
        <input type="text" class="form-control input-group-append ml-1" formControlName="currencyNameControl" value="UAH"
          style="max-width: 60px;" />
      </div>
    </div>

    <!-- Add hidden Destination amount filed, when Movement was elected -->
    <div class="form-group">
      <h5>Rate</h5>
      <h6 class="pt-0 mt-0 text-secondary">(rate to accounting currency)</h6>
      <input type="text" class="form-control" formControlName="rateControl" />
    </div>

    <div class="form-row">
      <div *ngIf="!editMode" class="col">
        <button type="submit" class="btn btn-dark text-ligth" [disabled]="transactionForm.invalid">
          <i class="fas fa-plus-circle mr-1"></i>
          Create
        </button>
      </div>

      <div *ngIf="editMode" class="col">
        <button type="submit" class="btn btn-dark text-ligth">
          <i class="far fa-save mr-1"></i>
          Save
        </button>
      </div>

      <div *ngIf="editMode" class="col">
        <button type="button" class="btn btn-dark text-light float-right" (click)="click_deleteGroup()" style="width: 100px">
          <i class="far fa-trash-alt mr-1"></i>
          Delete
        </button>
      </div>
    </div>

  </form>
</div>