<div class="m-1 window-width">
	<div class="row border-bottom mb-3 py-1">
		<div class="col-7">
			<h4>Sign in</h4>
		</div>
		<div class="col text-right">
			<button class="btn btn-sm btn-dark text-light" routerLink="/signup">
				<i class="fas fa-user-plus mr-1"></i>
				Registration
			</button>
		</div>
  </div>
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div *ngIf="!appStatus.validCredentials" class="alert alert-danger p-2" role="alert">
      <h5 class="alert-heading">Invalid credentials!</h5>
      <p class="my-0 py-0">User login or password is invalid.</p>
      <hr class="my-2">
      <p class="my-0 py-0">Please check and try again.</p>
    </div>
    
    <div class="form-group">
     <h5>Login</h5>
     <input class="form-control" formControlName="loginControl" placeholder="Login"
        name="login" [class.is-invalid]="isInvalid(getLoginControl())" required />
     <div *ngIf="isInvalid(getLoginControl())" class="text-danger">
       Login is required
     </div>
    </div>

    <div class="form-group">
      <h5>Password</h5>
      <input type="password" class="form-control" formControlName="passwordControl" placeholder="Password" required
        name="password" [class.is-invalid]="isInvalid(getPasswordControl())" />
      <div *ngIf="isInvalid(getPasswordControl())" class="text-danger">
        Password is required
      </div>
    </div>


    <button type="submit" class="btn btn-dark text-light" [disabled]="loginForm.invalid">
      <i class="fas fa-sign-in-alt mr-1"></i>
      Log in
    </button>
  </form>