<div class="m-1">
  <div class="row border-bottom mb-3 py-1">
    <div class="col-7">
      <h4>Create profile</h4>
    </div>
    <div class="col text-right">
      <button class="btn btn-sm btn-dark text-light">
        <i class="fas fa-plus-circle mr-1"></i>
        Cancel
      </button>
    </div>
  </div>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit">
    <div class="form-group">
      <h5>Login</h5>
      <input type="text" class="form-control" placeholder="Login" formControlName="logonControl" required/>
    </div>

    <div class="form-group">
      <h5>Password</h5>
      <input type="password" class="forn-control" formControlName="passwordControl" required />
    </div>

    <div class="form-group">
      <h5>Confirm password</h5>
      <input type="password" class="form-control" formControlName="passwordConfirmationControl" required />
    </div>
    
    <button type="submit" class="btn btn-dark text-light" [disabled]="signUpForm.invalid">
      <i class="fas fa-sign-in-alt"></i>
      Create
    </button>
  </form>
</div>