<div class="container px-0">
    <div class="d-flex flex-row">
      <div class="mr-auto">
          <h4>{{editorHeader}}</h4>
      </div>
      <div>
        <button class="btn btn-sm btn-dark text-light float-right" style="width: 90px" (click)="click_Cancel()">
          <i class="fas fa-sign-out-alt mr-1"></i>
          Cancel
        </button>
      </div>
    </div>
    <hr class="mt-0 mb-3">

    <!-- Component form -->
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="form-group">
        <h5 class="pb-0 mb-0">Type</h5>
        <h6 class="pt-0 mt-0 text-secondary">(which type of items is group owner)</h6>
        <select class="form-control" formControlName="typeControl" required [class.is-invalid]="isInvalid(typeControl)">
          <option value=0>Accounts</option>
          <option value=1>Expenses</option>
          <option value=2>Incomes</option>
        </select>
        <div *ngIf="isInvalid(typeControl)" class="text-danger">
          Please choose group owner type
        </div>
      </div>
  
      <div class="form-group">
        <h5 class="pb-0 mb-0">Name</h5>
        <h6 class="pt-0 mt-0 text-secondary">(group name must be unique)</h6>
        <input class="form-control" name="name" placeholder="Name..." [class.is-invalid]="isInvalid(nameControl) || isGroupNameExist"
          formControlName="nameControl" required (change)="change_nameControl()" [class.ng-invalid]="isGroupNameExist"/>
        <div *ngIf="isInvalid(nameControl)" class="text-danger">
          Group name is required
        </div>
        <div *ngIf="isGroupNameExist" class="text-danger">
          This group name already exists
        </div>
      </div>

      <div class="form-group">
        <h5>Comment</h5>
        <input class="form-control" name="comment" placeholder="Comment..."
          formControlName="commentControl"/>
      </div>
  
      <div class="form-row">
        <div *ngIf="!editMode" class="col">
          <button type="submit" class="btn btn-dark text-ligth" [disabled]="groupForm.invalid || isGroupNameExist">
            <i class="fas fa-plus-circle mr-1"></i>
            Create
          </button>
        </div>
  
        <div *ngIf="editMode" class="col">
          <button type="submit" class="btn btn-dark text-ligth" [disabled]="groupForm.invalid || isGroupNameExist">
            <i class="far fa-save mr-1"></i>
            Save
          </button>
        </div>
  
        <div *ngIf="editMode" class="col">
          <button type="button" class="btn btn-dark text-light float-right" (click)="click_deleteGroup()" style="width: 100px">
            <i class="far fa-trash-alt mr-1"></i>
            Delete
          </button>
        </div>
      </div>			
    </form>