<div class="m-1">
	<div class="row border-bottom mb-3 py-1">
		<div class="col">
			<h4>Active accounts</h4>	
		</div>
		<div class="col text-right">
			<button class="btn btn-sm btn-dark text-light" routerLink="/accounts/add">
				<i class="fas fa-plus-circle mr-1"></i>
				New account
			</button>
		</div>
	</div>
	
	
	<h6 class="totalActive">{{accountsStatus.infoString}}</h6>
	<table class="table table-sm table-bordered">
		<tr class="bg-dark text-light">
			<th>Account name</th>
			<th colspan="2" class="text-center">Balance</th>
		</tr>
		<tr *ngFor="let account of activeAccounts">

			<td>
				<a routerLink="/accounts/edit/{{account.accountId}}" class="text-dark"
					(click)="clickAccount(account.accountId)">{{account.accountName}}</a>
			</td>
			<td class="text-right">{{account.balance | number:'1.2-2'}}</td>
			<td class="text-left" style="width: 60px">{{account.currency.code}}</td>
		</tr>
	</table>
</div>